.inbox-container {
  
   border: 5px dotted black;
   justify-content: stretch;
}
.sub-container {
   display:flex
}
.email-content{
   display:flex;
   border: 5px solid green;
   justify-content:space-between;  
   align-items: center;
   width:90%;
   cursor: pointer;
}
span > p {
   padding-right:10px;
}

